.ProfilePanel_content {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;

  .UserBasicInfo_content {
    order: 1;
    margin: 1.5em;
    box-shadow: 0 0 0.1em lightgray;
    border-radius: 0.1em;
  }
  .CountsInfo_content {
    margin: 1.5em;
    order: 2;
    .CountsInfo_block {
      box-shadow: 0 0 0.1em lightgray;
      border-radius: 0.1em;
      width: 10em;
      height: 10em;
    }
  }
  .ContentsInfo_content {
    order: 3;
    margin: 1.5em;
    .ContentsInfo_block {
      box-shadow: 0 0 0.1em lightgray;
      border-radius: 0.1em;
      width: 10em;
      height: 10em;

      ul {
        list-style: none;
        overflow-y: auto;
        padding: 0;
      }
    }
  }
  .FriendsInfo_content {
    order: 4;
    margin: 1.5em;
    width: 10em;
    height: 10em;

    ul {
      list-style: none;
      overflow-y: auto;
      padding: 0;
    }
  }
}
