.ProfilePanel_content {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;

  .UserBasicInfo_content {
    order: 1;
    margin: 1.5em;
    padding: 1em;
    box-shadow: 0 0 0.2em lightgray;
    border-radius: 0.1em;
  }
  .PreferencesPanel_content {
    margin: 1.5em;
    order: 2;
  }
  .CountsInfo_content {
    margin: 1.5em;
    order: 3;
    .CountsInfo_flex {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: flex-start;
      align-content: space-around;
      //min-height: 25em;

      .CountsInfo_block {
        box-shadow: 0 0 0.2em lightgray;
        border-radius: 0.1em;
        width: 10em;
        height: 10em;
        padding: 0.5em;
        margin: 1em;
      }
    }
  }
  .ItemsInfo_content {
    order: 4;
    margin: 1.5em;

    .ItemsInfo_flex {
      display: flex;
      flex-direction: row;
      flex-flow: wrap;
      justify-content: flex-start;
      align-content: space-around;
      //min-height: 25em;

      .ItemsInfo_block {
        box-shadow: 0 0 0.2em lightgray;
        border-radius: 0.1em;
        width: 10em;
        height: 10em;
        padding: 0.5em;
        margin: 1em;

        ul {
          list-style: none;
          overflow-y: auto;
          padding: 0;
        }
      }
    }
  }
  .FriendsInfo_content {
    order: 5;
    margin: 1.5em;
    width: 10em;
    height: 10em;

    ul {
      list-style: none;
      overflow-y: auto;
      padding: 0;
    }
  }
}

.friendsInfoItem_flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  .friendsInfoItem_card {
    border-radius: 0.2em;
    box-shadow: 0 0 0.2em lightgray;
    padding: 0.5em;
    margin: 0.5em;
  }

  .friendsInfoItem_list_flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    width: 6.5em;

    dt {
      flex: 0 0 50%;
      width: 33%;
      margin-bottom: 0.5em;
    }

    dd {
      flex:0 0 50%;
      margin-left: auto;
      text-align: right;
      width: 66%;
      margin-bottom: 0.5em;
    }
  }
}